.sobre {
    margin: 0 auto;
    width: 80%;
}

.sobre-area {
    display: flex;
    justify-content: space-around;
    padding: 130px 0;
}

.sobre-area-texto {
    width: 25%;
}

.sobre-area-texto p {
    font-weight: 500;
    font-size: 18px;
}

.ajusteImg1 img {
    width: 265px;
    position: absolute;
    top: 1555px;
    left: 10%;
}

.ajusteImg2 img {
    width: 265px;
    position: absolute;
    top: 1608px;
    left: 63%;
}

@media (min-width: 1920px) {
    .ajusteImg1 img {
        top: 1726px;
    }
    .ajusteImg2 img {
        top: 1774px;
        left: 70%;
    }
    .sobre-area-texto p {
        font-size: 23px;
    }
}

@media (max-width: 1024px) {
    .sobre-area-texto {
        width: 42%;
    }
}

@media (max-width: 1250px) {
    .sobre-area-texto {
        width: 36%;
    }
    .ajusteImg1 img, .ajusteImg2 img {
        width: 235px;
    }
    .ajusteImg1 img {
        top: 1564px;
    }
    .ajusteImg2 img {
        top: 1606px;
    }
}

@media (max-width: 1120px) {
    .sobre-area-texto {
        width: 36%;
    }
    .ajusteImg1 img, .ajusteImg2 img {
        width: 200px;
    }
    .ajusteImg1 img {
        top: 1670px;
    }
    .ajusteImg2 img {
        top: 1690px;
    }
}

@media (max-width: 1020px) {
    .sobre-area-texto {
        width: 36%;
    }
    .ajusteImg1 img, .ajusteImg2 img {
        width: 200px;
    }
    .ajusteImg1 img {
        top: 1700px;
    }
    .ajusteImg2 img {
        top: 1734px;
    }
}

@media (max-width: 868px) {
    .sobre-area-texto {
        width: 42%;
    }
    .ajusteImg1 img, .ajusteImg2 img {
        width: 170px;
    }
    .ajusteImg1 img {
        top: 1750px;
    }
    .ajusteImg2 img {
        top: 1786px;
    }
}

@media (max-width: 860px) {
    .sobre-area-texto {
        width: 42%;
    }
    .ajusteImg1 img, .ajusteImg2 img {
        width: 170px;
    }
    .ajusteImg1 img {
        top: 2048px;
    }
    .ajusteImg2 img {
        top: 2106px;
    }
}


@media (max-width: 700px) {
    .sobre-area {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .sobre-area-texto {
        width: 60%;
    }
    .ajusteImg1 img, .ajusteImg2 img {
        width: 170px;
    }
    .ajusteImg1 img {
        top: 1904px;
        left: 18%;
    }
    .ajusteImg2 img {
        top: 2254px;
        left: 54%;
    }
}

@media (max-width: 625px) {
    .sobre {
        width: 90%;
    }
    .sobre-area-texto {
        width: 100%;
    }
    .ajusteImg1 img, .ajusteImg2 img {
        width: 125px;
    }
    .ajusteImg1 img {
        top: 1940px;
        left: 18%;
    }
    .ajusteImg2 img {
        top: 2350px;
        left: 54%;
    }
}

@media (max-width: 470px) {
    .ajusteImg1 img {
        top: 2038px;
    }
    .ajusteImg2 img {
        top: 2606px;
    }
}

@media (max-width: 325px) {
    .ajusteImg1 img {
        top: 2369px;
    }
    .ajusteImg2 img {
        top: 2816px;
    }
}