@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:"Montserrat", sans-serif ;
  scroll-behavior: smooth;
}

a, ul, li {
  margin: 0;
  padding: 0;
}

.footer-section {
  background-image: url('../public/bg-footer.png');
  background-position: 0px -90px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.bg1-home {
  background-image: url('../public/imagem_home.png');
  background-repeat: no-repeat;
  background-position: 106% 2%;
  background-size: 40%;
}

.bg1 {
  background-image: url('../public/bg-1.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.bg2 {
  background-image: url('../public/bg-2.png');
  background-repeat: no-repeat;
  background-size: 0% ;
  background-position: 0 -335px;
}

.obrigado {
  background-image: url('../public/bg-3.png');
  background-size: cover;
}

@media (max-width: 2560px) {
  .bg1-home {
    background-size: 24%;
    background-position: 100% 3%;
  }
  .mainSection-forms form {
    background-color: rgba(0,0,0,.6)!important;
    border-radius: 20px!important;
    color: #fff!important;
    max-width: 400px!important;
    padding: 20px 30px!important;
    z-index: 5;
}
}

@media (max-width: 2000px) {
  .bg1-home {
    background-size: 30%;
  }
}

@media (min-width: 1920px) {
  .bg1-home {
    background-size: 37%;
    background-position: 105% 2%;
  }
}

@media (max-width: 1600px) {
  .bg1-home {
    background-size: 40%;
  }
}

@media (max-width: 1310px) {
  .bg1-home {
    background-size: 44%;
  }
}

@media (max-width: 1170px) {
  .bg1-home {
    background-position: 107% 2%;
    background-size: 48%;
  }
}

@media (max-width: 970px) {
  .bg1-home {
    background-position: 107% 2%;
    background-size: 51%;
  }
}

@media (max-width: 860px) {
  .bg1-home {
    background-position: 50% 31%;
    background-size: 47%;
  }
}

@media (max-width: 795px) {
  .bg1-home {
    background-position: 50% 31%;
    background-size: 47%;
  }
}

@media (max-width: 725px) {
  .bg1-home {
    background-size: 52%;
  }
}

@media (max-width: 710px) {
  .bg1-home {
    background-position: 50% 31%;
    background-size: 55%;
  }
}

@media (max-width: 695px) {
  .bg1-home {
    background-position: 50% 30%;
    background-size: 56%;
  }
}

@media (max-width: 650px) {
  .bg1-home {
    background-position: 50% 30%;
    background-size: 59%;
  }
}

@media (max-width: 615px) {
  .bg1-home {
    background-position: 50% 32%;
    background-size: 65%;
  }
}


@media (max-width: 600px) {
  .footer-section {
    height: 110vh;
  }
}


@media (max-width: 580px) {
  .bg1-home {
    background-position: 50% 32%;
    background-size: 68%;
  }
}

@media (max-width: 520px) {
  .bg1-home {
    background-position: 50% 31%;
    background-size: 74%;
  }
}

@media (max-width: 500px) {
  .bg1-home {
    background-position: 50% 31%;
    background-size: 78%;
  }
  .footer-section {
    height: 135vh;
  }
}

@media (max-width: 475px) {
  .bg1-home {
    background-position: 50% 31%;
    background-size: 82%;
  }
}

@media (max-width: 472px) {
  .bg1-home {
    background-position: 50% 33%;
  }
}

@media (max-width: 437px) {
  .bg1-home {
    background-position: 50% 33%;
    background-size: 89%;
  }
}

@media (max-width: 400px) {
  .bg1-home {
    background-position: 50% 32%;
    background-size: 100%;
  }
  .footer-section {
    height: 145vh;
  }
}

@media (max-width: 350px) {
  .bg1-home {
    background-position: 50% 33%;
    background-size: 111%;
  }
}
